body{
  font-family: Arial;
  background:#0f172a;
  color:white;
  text-align:center;
  margin:0;
  padding:20px;
}

section{
  margin:40px 0;
  padding:20px;
  border-bottom:1px solid #334155;
}

table{
  width:100%;
  border-collapse:collapse;
}

th,td{
  border:1px solid #334155;
  padding:10px;
}

button{
  padding:10px;
  margin:5px;
  background:#22c55e;
  border:none;
  color:white;
  cursor:pointer;
}

input{
  padding:8px;
}

pre{
  text-align:left;
  background:#111827;
  padding:15px;
}
